
@import './_base.scss';
.navs{
    height:.49rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex:0;
    background-color: #f9fafb;
        border-top: 1px solid #e5e5e5;
    a{
        flex-grow: 1;flex-shrink: 1;
        display: flex;flex-flow: column;
        align-items: center;justify-content: space-around;
        font-size: 12px;
        color:#6a6e77;
      

        span:first-child{
            font-size: .24rem;
        }
    }
    a.active{
        color: $base-color;
    }
   
   
    // padding-top: .12rem;
   
    // height: 1.333333rem;
    
}
