


.xptqli-top img{
    max-width: 100%;
    display: inline-block;
}
.top-nav{
    width:100%;
    background:#fff;
    height:.99rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.top-nav a{
    display:block;
    width:.85rem;
    height:.85rem;
}
.top-nav a img{
   display:block;
    width:100%;
}